header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 0.7rem;
  background: var(--blue);
  position: fixed;
}
header h2 {
  display: flex;
  align-items: center;
  letter-spacing: 0.4rem;
  font-size: 1.5rem;
  font-family: "Rum Raisin", sans-serif;
}
header h2 img {
  height: 3.125rem;
  width: 3.125rem;
  margin-right: 1rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
header nav label {
  font-size: 0;
  display: none;
}
header nav label img {
  max-width: 2rem;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 1.2rem;
  text-decoration: underline;
  text-transform: capitalize;
}

.menu-on {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: var(--blue);
  position: absolute;
  overflow-y: none;
  transition: 0.5s;
}
.menu-on li a {
  display: block;
  font-size: 1.5rem;
  transition: 0.5s;
  padding: 0.3rem 0.7rem;
}
.menu-on li a:hover {
  background: #020225;
  border-radius: 1rem;
  opacity: 50%;
  box-shadow: 0 0 10px 10px #020225;
}

.image-menu {
  position: absolute;
}

main {
  background: var(--black);
  padding-top: 6.125rem;
}
main .paragraphs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
main .paragraphs p {
  max-width: 31.25rem;
  font-size: 1.25rem;
}
main .paragraphs p a {
  color: var(--red);
}
main .image {
  width: 100%;
  text-align: center;
}
main .image img {
  max-width: 34.375rem;
}
main #donates {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
main #donates div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 6rem;
  padding: 0 1rem;
}
main .align-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}
main .align-button #button {
  width: 22rem;
  padding: 1rem 0;
  border-radius: 1rem;
  border-bottom: 2px solid var(--blue2);
  border-right: 2px solid var(--blue2);
  border-top: 2px solid var(--blue2);
  border-left: none;
  background: var(--blue);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}
main .align-button #button:hover {
  box-shadow: 0 0 10px var(--blue);
  opacity: 80%;
}
main .table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main table {
  border: 1px solid var(--white);
  border-radius: 1rem;
  margin: 0 0 2rem 0;
}
main table tr:nth-of-type(2) td {
  font-size: 1.25rem;
  font-weight: bold;
}
main table tr th {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 1px solid var(--white);
}
main table tr td {
  padding: 1rem 4rem;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  padding: 1rem 3rem;
}
footer div {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
footer div h4 {
  font-size: 1.25rem;
  color: var(--black);
}
footer div a {
  font-size: 1rem;
  color: var(--black);
}

@media (max-width: 1230px) {
  html {
    font-size: 93.75%;
  }

  header nav {
    width: 45%;
  }
}
@media (max-width: 1130px) {
  article.paragraphs {
    flex-direction: column;
    padding: 0 2rem 3rem 2rem;
  }
  article.paragraphs p {
    padding: 3rem 0 1rem 0;
    text-align: center;
  }

  div.image img {
    max-width: 33rem;
  }
}
@media (max-width: 850px) {
  header {
    position: static;
  }
  header nav {
    justify-content: flex-end;
  }
  header nav label {
    display: block;
  }
  header nav ul li a {
    display: none;
  }

  main {
    padding: 0;
  }
}
@media (max-width: 640px) {
  footer {
    height: 25vh;
  }
  footer div h4 {
    font-size: 1.25rem;
    color: var(--black);
  }
  footer div a {
    font-size: 1rem;
    color: var(--black);
  }
}
@media (max-width: 540px) {
  div.image img {
    max-width: 26rem;
  }
}
@media (max-width: 520px) {
  footer div h4 {
    font-size: 1.15rem;
    color: var(--black);
  }
  footer div a {
    font-size: 0.9rem;
    color: var(--black);
  }
}
@media (max-width: 480px) {
  html {
    font-size: 87.5%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 81.25%;
  }
}
@media (max-width: 420px) {
  footer {
    height: 20vh;
    padding: 0.75rem 1rem;
  }
  footer div {
    text-align: left;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 330px) {
  main div.image img {
    max-width: 21rem;
  }
  main div.input-button input {
    padding: 1rem 0 1rem 0.75rem;
    border-radius: 1.5rem 0 0 1.5rem;
  }
  main div.input-button button {
    padding: 1rem;
    border-radius: 0 1.5rem 1.5rem 0;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  footer div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

:root {
  --white: #f1f1f1;
  --blue: #080746;
  --blue2: #06053a;
  --black: #212121;
  --red: #FF6366;
}

/*# sourceMappingURL=style.css.map */
